[submodule "library/SDL"]
	path = library/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "library/imgui"]
	path = library/imgui
	url = https://github.com/ocornut/imgui
[submodule "library/WebGPU-distribution"]
	path = library/WebGPU-distribution
	url = https://github.com/eliemichel/WebGPU-distribution
[submodule "library/tlsf"]
	path = library/tlsf
	url = https://github.com/mattconte/tlsf
