[submodule "library/SDL"]
	path = library/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "library/imgui"]
	path = library/imgui
	url = https://github.com/ocornut/imgui
[submodule "library/tlsf"]
	path = library/tlsf
	url = https://github.com/mattconte/tlsf
[submodule "library/dawn"]
	path = library/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "library/VulkanMemoryAllocator"]
	path = library/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "library/volk"]
	path = library/volk
	url = https://github.com/zeux/volk
[submodule "library/imnodes"]
	path = library/imnodes
	url = https://github.com/Nelarius/imnodes
